.vscode/**
.gitignore
.vscode-test/**
src/**
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
notes.md
assets/icons/extension-icon.af
assets/icons/file-icon.af
parser/**
tests/**
esbuild.js